.userCard {
    display: grid;
    grid-template-columns: 2fr 5fr 5fr;
    border: 1px solid burlywood;
    padding: 10px;
    border-radius: 15px;
    margin: 5px 0px 5px 0px;
}

.userCardAvatar {
    grid-column: 1;
    grid-row: 1 / 4;
    text-align: center;
    padding-right: 20px;
}

.userCardAvatar img {
    width: 100px;
    height: 100px;
}

.userCardHeader {
    grid-column: 2;
    grid-row: 1;
    font-size: 18pt;
    color: sienna;
}

.userCardStatus {
    grid-column: 2;
    grid-row: 2;
    color: darkslategray;
    font-style: italic;
}

.userCardAction {
    grid-column: 2;
    grid-row: 3;
}

.userCardLocation {
    grid-column: 3;
    grid-row: 1 / 4;
    text-align: right;
}

.userCardLocation div:first-child {
    font-weight: bold;
}
