.header {
    grid-area: h;
    background-color: saddlebrown;
    display: grid;
    grid-template-columns: 1fr 8fr 3fr;
}

.headerLogo {
    grid-column: 1;
    text-align: center;
    align-self: center;
    padding-left: 10px;
    padding-right: 10px;
}

.headerLogo img {
    width: 60px;
    height: 60px;
}

.headerTitle {
    grid-column: 2;
    color: burlywood;
    font-size: 24pt;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    align-self: center;
}

.headerLogin {
    grid-column: 3;
    text-align: right;
    align-self: center;
    padding-right: 20px;
    color: white;
}

.loginLogoutButton {
    padding-left: 20px;
}