.avatar {
    float: left;
    width: 128px;
    height: 128px;
    padding-right: 20px;
}

.table {
    display: table;
}

.tableRow {
    display: table-row;
}

.tableHead {
    display: table-header-group;
    font-weight: bold;
}

.tableCell {
    display: table-cell;
    padding-left: 40px;
    padding-top: 5px;
}

.tableBody {
    display: table-row-group;
}

.statusLine {
    padding-bottom: 20px;
    font-style: italic;
}