.app-wrapper {
  display: grid;
  grid-template-rows: 80px 1fr 60px;
  grid-template-columns: 2fr 10fr;
  /*grid-gap: 10px;*/
  grid-template-areas: "h h" "n c" "f f";
  width: 1200px;
  margin: 0 auto;
}

.header {
  grid-area: h;
  background-color: saddlebrown;
  display: block;
  padding: 10px;
}

.header img {
  padding-right: 20px;
  width: 60px;
  height: 60px;
  float: right;
}

.header div {
  color: burlywood;
  font-size: 24pt;
  font-weight: bold;
  font-style: italic;
  padding-left: 20px;
  padding-top: 5px;
}

.content {
  grid-area: c;
  background-color: moccasin;
}

.content div {
  padding: 20px;
}

.navbar {
  grid-area: n;
  background-color: burlywood;
}

.footer {
  grid-area: f;
  background-color: saddlebrown;
  padding: 20px;
  color: burlywood;
  text-align: right;
  font-style: italic;
}